---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import HeroImagen from "../sections/HeroImagen.astro";
import MasInfo from "../sections/MasInfo.astro";
import TituloPrograma from "../sections/TituloPrograma.astro";
import Boton from "../components/Boton.astro";
import WhatsApp from "../components/WhatsApp.astro";
import AltaCalidad from "../components/AltaCalidad.astro";
import Saludo from "../components/Saludo.astro";
import Hero from "../sections/Hero.astro";

import { CONFIG, PROGRAMA } from "../conts/Maestria-en-Liderazgo-en-Transformacion-Digital";
---

<Layout title={PROGRAMA.titulo}>
  <HeroImagen Programa={PROGRAMA} />
  <MasInfo colorFondo={CONFIG.colorPrincipal}>
    <p style="color: #fff;">
      <strong> Gracias por tu interés en estudiar el</strong>
    </p>
    <TituloPrograma programa={PROGRAMA} config={CONFIG}>
      <span slot="snies" style="color: #fff;">
        en el <strong>CESA </strong>
        <span
          slot="snies"
          style=`font-weight: lighter; color: ${CONFIG.colorSecundario};  background-color: ${CONFIG.colorTercero};`
          >SNIES: {PROGRAMA.snies}</span
        >
      </span>
    </TituloPrograma>

    <p style="color: #fff; text-align: center;">
      Para conocer nuestra<strong> metodología y plan de estudios</strong>
    </p>

    <Boton
      texto="Haz Clic Aquí"
      url={PROGRAMA.urlPrograma}
      colorFondo={CONFIG.colorTercero}
    />
  </MasInfo>

  <MasInfo>
    <br />
    <p>
      <strong style=`color: ${CONFIG.colorTercero}; font-size: 25px`
        >MODALIDAD:</strong
      >
      {PROGRAMA.modalidad}
    </p>
    <p>
      <strong style=`color: ${CONFIG.colorTercero}; font-size: 25px`
        >HORARIO:</strong
      >
      <p set:html={PROGRAMA.horario} />
    </p>
    <p>
      <em
        >Disponibilidad de tiempo completo para asignaturas internacionales.</em>
    </p>
    <p>
      <strong style=`color: ${CONFIG.colorTercero}; font-size: 25px`
        >INTENSIDAD:</strong
      >
      {PROGRAMA.intensidad}
      <br />
    </p>
    <div>
      <strong style=`color: ${CONFIG.colorTercero}; font-size: 25px`
        >INVERSIÓN POR SEMESTRE:</strong
      >
      <br /><br />
      <span style="font-size: 30px;">{PROGRAMA.inversion}</span>
      <br />
      Valor del semestre - Tarifa 2024

      <p style="font-size: 15px;">
        Nota: El valor de la inversión se incrementa anualmente
      </p>
    </div>
  </MasInfo>
  <MasInfo colorFondo={CONFIG.colorPrincipal}>
    <br />
    <Boton
      texto="Inscríbete Aquí"
      url={PROGRAMA.inscripcion}
      colorFondo={CONFIG.colorTercero}
    />
    <br />
    <WhatsApp config={CONFIG} />
    <br />
    <AltaCalidad />
  </MasInfo>
  <Footer config={CONFIG} />
</Layout>
